
p{
  font-size: 14px;
}

/*
cssのmarginの0には単位が不要
基本的に0を指定した場合は単位が不要。
*/
h1{
  font-size: 24px;
  margin:0px;
}

.content{
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;

  /*
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;  
  */
  /*内側の余白をpadding*/
  border: 1px solid #d1d1d1;
  padding: 30px;

}

/*
ボーダーを下線のみにする。
フォントサイズを1.2倍に変更
*/
input{
  border :none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.2em;
  width:100%;
  padding: 8px;
}
/*
幅を100%
背景色を青
文字の色を白
内側の余白を15px
ボーダーをなし
ボタンを丸くする
ボタンに影をつける
*/
button{
  width :100%;
  background-color: #2096f3;
  color: #ffffff;
  padding: 15px;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,.4);
}

.required{
  color: #f33;
  font-size: .9em;
  padding: 3px;
  background-color: #fee;
  font-weight: bold;
}

.control{
  margin-bottom: 3em;
}
/*
改行されない要素：つまりはインライン要素
labelはインライン要素
*/
label{
  display: block;
  margin-bottom: .5em;
}
body{
  background-color: #fafafa;
}